body {  
  font-family: "SF Pro Text", sans-serif;
  margin: 0;
}

header {
  background-color: #f1f3f5;
  display: flex;
  font-size: 14px;
  padding: 16px 24px;
}

header .activity-avatar {
  border-radius: 50%;
  height: 40px;
  margin-right: 16px;
  width: 40px;
}

header h1 {
  color: #657885;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -.15px;
  line-height: 20px;
  margin: 0;
}

header nav a {
  color: #00A5E6;
  letter-spacing: -.15px;
  line-height: 20px;
  text-decoration: none;
}
