body {  
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-wrapper {
  box-sizing: border-box;
  padding: 24px;
}

section {
  flex: 1;
  overflow: scroll;
}

section h1 {
  color: #25333d;
  letter-spacing: .33px;
  line-height: 29px;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: 728px) {
  body {
    background-color: #F1F3F5;
  }

  header, section {
    margin: 0 auto;
    width: 728px;
  }

  .section-wrapper {
    background-color: #fff;
    padding: 48px 94px;
    width: 100%;
  }
}
